<mat-table [dataSource]="alunos">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

   <!-- ID Column -->
  <ng-container matColumnDef="_id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let aluno"> {{aluno._id}} </mat-cell>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Aluno </mat-header-cell>
      <mat-cell *matCellDef="let aluno"> {{aluno.name}} </mat-cell>
    </ng-container>

    <!-- Matricula Column -->
    <ng-container matColumnDef="matricula">
      <mat-header-cell *matHeaderCellDef> Matricula </mat-header-cell>
      <mat-cell *matCellDef="let aluno"> {{aluno.matricula}} </mat-cell>
    </ng-container>

    <!-- CPF Column -->
    <ng-container matColumnDef="cpf">
      <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
      <mat-cell *matCellDef="let aluno"> {{aluno.cpf}} </mat-cell>
    </ng-container>

    <!-- Endereco Column -->
    <ng-container matColumnDef="endereco">
      <mat-header-cell *matHeaderCellDef> Endereço </mat-header-cell>
      <mat-cell *matCellDef="let aluno"> {{aluno.endereco}} </mat-cell>
    </ng-container>

    <!-- Curso Column -->
    <ng-container matColumnDef="curso">
      <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
      <mat-cell *matCellDef="let aluno"> {{aluno.curso}}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-column-header">
        <button mat-mini-fab color="primary" aria-label="Adicionar um aluno">
          <mat-icon (click)="onAdd()">add</mat-icon>
        </button>
      </mat-header-cell>
      
      <mat-cell *matCellDef="let aluno" class="action-column">
        <button mat-icon-button color="primary" aria-label="Editar Aluno">
          <mat-icon (click)="onEdit(aluno)">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Remover Aluno">
          <mat-icon (click)="onDelete(aluno)">delete</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
